/*html, body {
    min-height: 100%;
    }
    /*body, div, form, input, select, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }*/
    .form_Label {
    position: absolute;
    margin: 0;
    font-size: 38px;
    color: #fff;
    z-index: 2;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    .stock_update_form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff; 
    }
    .banner {
        position: relative;
        height: 100px;
        background: rgba(73,63,252,1);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
    .stock_update_input{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    .stock_update_input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    .stock_item:hover p, .stock_item:hover i, .stock_update_input input:hover::placeholder {
    color: rgb(63, 107, 252);
    }
    .stock_item input:hover, .stock_item select:hover, .stock_item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 rgb(63, 107, 252);
    color: #892e9b;
    }
    .stock_item {
    position: relative;
    margin: 10px 0;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    .form_Submit {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: rgba(73,63,252,1);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    .form_Submit:hover {
    background: rgb(63, 107, 252);
    }
    @media (min-width: 568px) {
    .name-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input{
    width: calc(50% - 20px);
    }
}